@model List<Department>
<a type="button" class="btn btn-primary" asp-action="Create">Create New Department</a>
<table class="table  table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Department item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Capacity</td>
                <td>
                    <a asp-action="Courses" asp-route-id="@item.Id" type="button" class="btn btn-info">Add Course</a>
                |
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Details</a>
                |
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>
                |
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
      
    </tbody>
</table>


