@model Department
<div class="card">
    <h5 class="card-header">Course Details</h5>
    <div class="card-body">
        <h6 class="card-title">Department Name: @Model.Name</h6>
        <h6 class="card-title">Course Name: @ViewBag.Course.Name</h6>
        <h6 class="card-title"> Number of Student: @Model.Students.Count</h6>
        <form action="StudentGrade" method="post">
        <table class="table  table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <input type="number" name="std.@item.Id" />
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <input type="submit" value="Submit" />
        </form>

        <a href="/department/Index" class="btn btn-danger">Back</a>
    </div>



</div>